#alinav{
  margin-left: 60%;
}
body{
  /* background-color: brown; */
}
#messagemodal {
  /* margin-left: 550px;
  /* margin-right: 550px; */
  /* top: 20%; */
  /* top: 15%;
  width: 300px;
  height: 500px;
  margin-left: 47.4% */
  
}
.jumbotron-fluid{
  /* background-image: url(./image/istockphoto.jpg); */
  background-image: url(./image/images.jpg)
}
.text-center{
  font-family: serif;
} 
body{
  background-color: #fefefe;
}

#footerModal{
  background-color: brown;
  
}
#footerHeader{
  background-color: brown;
  color: aliceblue;
}

#footerBody{
  background-color: antiquewhite;
  font-family: cursive;
  font-weight: bold;
  font-size: large;
}
#notehead{
  background-image: url("./image/wallpaper-sky-blue-background-13.jpg");
}
#notebody{
  background-image: url("./image/missing_modalBody.jpg");
}
#notefooter{
  background-image: url("./image/wallpaper-sky-blue-background-13.jpg");
}
.modal-title{
  font-family: serif;
}